
<section id="view-escola">
  <div class="container">
    <h1><%= @escola.nome %></h1>
    <div class="row">
      <div class="col-md-2">
        Nome:
      </div>
      <div class="col-md-2">
        <%= @escola.nome %>
      </div>
        <div class="col-md-2">
        Email:
      </div>
      <div class="col-md-2">
        <%= @escola.email %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        Endereço:
      </div>
      <div class="col-md-2">
        <%= @escola.endereco %>
      </div>
        <div class="col-md-2">
        CEP:
      </div>
      <div class="col-md-2">
        <%= @escola.cep %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        Cidade:
      </div>
      <div class="col-md-2">
        <%= @escola.cidade %>
      </div>
          <div class="col-md-2">
        Estado:
      </div>
      <div class="col-md-2">
        <%= @escola.estado %>
      </div>
    </div>
      <div class="row">
      <div class="col-md-2">
        Bairro:
      </div>
      <div class="col-md-2">
        <%= @escola.bairro %>
      </div>
          <div class="col-md-2">
        Telefone:
      </div>
      <div class="col-md-2">
        <%= @escola.telefone %>
      </div>
    </div>
  </div>
</section>